In [322]:
# Dependencies
import pandas as pd
import numpy as np

In [323]:
# Import Dependencies
import sqlalchemy
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()
from sqlalchemy import Column, Integer, String, Float, DateTime, Text, ForeignKey
from sqlalchemy import create_engine, MetaData
from sqlalchemy.orm import sessionmaker

In [324]:
# Read CSVs
team_id = "WSN"
draft_df = pd.read_csv(f"Resources/complete_{team_id}_drafts.csv")

In [325]:
engine = create_engine(f"sqlite:///draft.sqlite")
conn = engine.connect()

In [326]:
class Draft(Base):
    __tablename__ = f"{team_id}"
    index = Column(Integer, primary_key=True)
    Year = Column(Integer())
    Rnd = Column(Integer())
    OvPck = Column(Integer())
    RdPck = Column(Integer())
    Tm = Column(String(10))
    Signed = Column(String(2))
    Name = Column(String(50))
    Pos = Column(String(10))
    WAR = Column(Float)
    GB = Column(Integer()) 
    AB = Column(Integer())
    HR = Column(Integer())
    BA = Column(Float)
    OPS = Column(Float)
    GP = Column(Integer())
    W = Column(Integer())
    L = Column(Integer())
    ERA = Column(Float)
    WHIP = Column(Float)
    SV = Column(Integer())
    Type = Column(String(7))
    school = Column(String(50))
    town = Column(String(20))
    ST = Column(String(5))

In [327]:
Base.metadata.create_all(engine)

In [328]:
draft_data = draft_df.to_dict(orient="records")

In [329]:
# Use MetaData from SQLAlchemy to reflect the tables
metadata = sqlalchemy.schema.MetaData(bind=engine)
metadata.reflect()

In [330]:
draft_table = sqlalchemy.Table(f"{team_id}", metadata, autoload=True)

conn.execute(draft_table.delete())

conn.execute(draft_table.insert(), draft_data)

In [331]:
engine.table_names()

['ANA',
 'ARI',
 'ATL',
 'BAL',
 'BOS',
 'CHC',
 'CHW',
 'CIN',
 'CLE',
 'COL',
 'DET',
 'FLA',
 'HOU',
 'KCR',
 'LAD',
 'MIL',
 'MIN',
 'NYM',
 'NYY',
 'OAK',
 'PHI',
 'PIT',
 'SDP',
 'SEA',
 'SFG',
 'STL',
 'TBD',
 'TEX',
 'TOR',
 'WSN']

In [332]:
engine.execute(f"select * from {team_id} limit 10").fetchall()

[(1, 1968, 4, 81, 21, 'Nationals', 'Y', 'Michael Swain\xa0(minors)', 'RHP', 0.0, None, 0, 0, 0.0, 0.0, None, 0, 0, 0.0, 0.0, 0, '4Yr', 'The Ohio State University ', 'Columbus', 'OH'),
 (2, 1968, 5, 105, 21, 'Nationals', 'Y', 'Frank Ward\xa0(minors)', 'RHP', 0.0, None, 0, 0, 0.0, 0.0, None, 0, 0, 0.0, 0.0, 0, 'JC', 'Southern Polytechnic State University ', 'Marietta', 'GA'),
 (3, 1968, 6, 129, 21, 'Nationals', 'Y', 'Roger Nelson\xa0(minors)', 'C', 0.0, None, 0, 0, 0.0, 0.0, None, 0, 0, 0.0, 0.0, 0, 'HS', 'Lincoln Southeast HS ', 'Lincoln', 'NE'),
 (4, 1968, 7, 153, 21, 'Nationals', 'Y', 'Kevin Bryant\xa0(minors)', 'SS', 0.0, None, 0, 0, 0.0, 0.0, None, 0, 0, 0.0, 0.0, 0, 'HS', 'Winter Haven HS ', 'Winter Haven', 'FL'),
 (5, 1968, 8, 177, 21, 'Nationals', 'Y', 'William Kendall\xa0(minors)', '3B', 0.0, None, 0, 0, 0.0, 0.0, None, 0, 0, 0.0, 0.0, 0, '4Yr', 'University of Minnesota ', 'Minneapolis', 'MN'),
 (6, 1968, 9, 201, 21, 'Nationals', 'Y', 'Ross Hoffman\xa0(minors)', '1B', 0.0, None, 0, 0, 0.0, 0.0, None, 0, 0, 0.0, 0.0, 0, '4Yr', 'University of California, Los Angeles ', 'Los Angeles', 'CA'),
 (7, 1968, 10, 225, 21, 'Nationals', 'Y', 'Carlton Exum\xa0(minors)', 'RHP', 0.0, None, 0, 0, 0.0, 0.0, None, 0, 0, 0.0, 0.0, 0, 'HS', 'Evans HS ', 'Orlando', 'FL'),
 (8, 1968, 11, 249, 21, 'Nationals', 'Y', 'Dave Hartman\xa0(minors)', 'LHP', 0.0, None, 0, 0, 0.0, 0.0, None, 0, 0, 0.0, 0.0, 0, '4Yr', 'Iowa State University ', 'Ames', 'IA'),
 (9, 1968, 12, 273, 21, 'Nationals', 'Y', 'John Palmer\xa0(minors)', 'LHP', 0.0, None, 0, 0, 0.0, 0.0, None, 0, 0, 0.0, 0.0, 0, '4Yr', 'University of Minnesota ', 'Minneapolis', 'MN'),
 (10, 1968, 13, 297, 21, 'Nationals', 'Y', 'Larry Woltz\xa0(minors)', '3B', 0.0, None, 0, 0, 0.0, 0.0, None, 0, 0, 0.0, 0.0, 0, 'JC', 'Georgia Perimeter College ', 'Covington', 'GA')]