In [78]:
# Dependencies
import pandas as pd
import numpy as np

In [79]:
# Import Dependencies
import sqlalchemy
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()
from sqlalchemy import Column, Integer, String, Float, DateTime, Text, ForeignKey
from sqlalchemy import create_engine, MetaData
from sqlalchemy.orm import sessionmaker

In [80]:
# Read CSVs
team_id = "COL"
draft_df = pd.read_csv(f"Resources/complete_{team_id}_drafts.csv")

In [81]:
engine = create_engine(f"sqlite:///{team_id}_drafts.sqlite")
conn = engine.connect()

In [82]:
class Draft(Base):
    __tablename__ = 'draft'
    index = Column(Integer, primary_key=True)
    Year = Column(Integer())
    Rnd = Column(Integer())
    OvPck = Column(Integer())
    RdPck = Column(Integer())
    Tm = Column(String(10))
    Signed = Column(String(2))
    Name = Column(String(50))
    Pos = Column(String(10))
    WAR = Column(Float)
    GB = Column(Integer()) 
    AB = Column(Integer())
    HR = Column(Integer())
    BA = Column(Float)
    OPS = Column(Float)
    GP = Column(Integer())
    W = Column(Integer())
    L = Column(Integer())
    ERA = Column(Float)
    WHIP = Column(Float)
    SV = Column(Integer())
    Type = Column(String(7))
    school = Column(String(50))
    town = Column(String(20))
    ST = Column(String(5))

In [83]:
Base.metadata.create_all(engine)

In [84]:
draft_data = draft_df.to_dict(orient="records")

In [85]:
# Use MetaData from SQLAlchemy to reflect the tables
metadata = sqlalchemy.schema.MetaData(bind=engine)
metadata.reflect()

In [86]:
draft_table = sqlalchemy.Table('draft', metadata, autoload=True)

conn.execute(draft_table.delete())

conn.execute(draft_table.insert(), draft_data)

In [87]:
engine.table_names()

['draft']

In [88]:
engine.execute("select * from draft limit 10").fetchall()

[(1, 1992, 1, 27, 27, 'Rockies', 'Y', 'John Burke\xa0(minors)', 'RHP', -0.5, None, 21, 0, 0.19, 0.381, None, 4, 6, 6.75, 1.83, 0, '4Yr', 'University of Florida ', 'Gainesville', 'FL'),
 (2, 1992, 2, 65, 27, 'Rockies', 'Y', 'Mark Thompson\xa0(minors)', 'RHP', 0.0, None, 104, 1, 0.154, 0.383, None, 18, 24, 5.74, 1.68, 0, '4Yr', 'University of Kentucky ', 'Lexington', 'KY'),
 (3, 1992, 3, 95, 27, 'Rockies', 'Y', 'Roger Bailey\xa0(minors)', 'RHP', 5.2, None, 97, 1, 0.206, 0.52, None, 18, 19, 4.9, 1.55, 1, '4Yr', 'Florida State University ', 'Tallahassee', 'FL'),
 (4, 1992, 4, 123, 27, 'Rockies', 'Y', 'Lloyd Peever\xa0(minors)', 'RHP', 0.0, None, 0, 0, 0.0, 0.0, None, 0, 0, 0.0, 0.0, 0, '4Yr', 'Louisiana State University ', 'Baton Rouge', 'LA'),
 (5, 1992, 5, 151, 27, 'Rockies', 'Y', 'Ryan Freeburg\xa0(minors)', '3B', 0.0, None, 0, 0, 0.0, 0.0, None, 0, 0, 0.0, 0.0, 0, '4Yr', 'Grand Canyon University ', 'Phoenix', 'AZ'),
 (6, 1992, 6, 179, 27, 'Rockies', 'Y', 'Will Scalzitti\xa0(minors)', 'C', 0.0, None, 0, 0, 0.0, 0.0, None, 0, 0, 0.0, 0.0, 0, 'JC', 'Miami-Dade College ', 'Miami', 'FL'),
 (7, 1992, 7, 207, 27, 'Rockies', 'Y', 'Jason Bates\xa0(minors)', 'SS', -2.6, None, 677, 12, 0.239, 0.696, None, 0, 0, 0.0, 0.0, 0, '4Yr', 'University of Arizona ', 'Tucson', 'AZ'),
 (8, 1992, 8, 235, 27, 'Rockies', 'Y', 'Chris Henderson\xa0(minors)', 'RHP', 0.0, None, 0, 0, 0.0, 0.0, None, 0, 0, 0.0, 0.0, 0, 'JC', 'Eastern Florida State College ', 'Cocoa', 'FL'),
 (9, 1992, 9, 263, 27, 'Rockies', 'Y', 'Mike Eiffert\xa0(minors)', 'LHP', 0.0, None, 0, 0, 0.0, 0.0, None, 0, 0, 0.0, 0.0, 0, '4Yr', 'University of Texas Pan American ', 'Edinburg', 'TX'),
 (10, 1992, 10, 291, 27, 'Rockies', 'Y', 'Garvin Alston\xa0(minors)', 'RHP', -0.1, None, 1, 0, 0.0, 0.0, None, 1, 0, 9.0, 2.0, 0, '4Yr', 'Florida International University ', 'Miami', 'FL')]